body {
  width: 99vw;
  height: 98vh;
  font-family: sans-serif;
  overflow: hidden;
}

.background-image {
  z-index: 1;
  width: 724px;
  height: 602px;
  position: absolute;
}

#container {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}

#otherPlayers {
  width: 414px;
  margin: 0 1%;
  position: relative;
}

#game-Log {
  height: 17%;
  width: inherit;
  border: navy solid;
  overflow: scroll;
  border-radius: 7px;
}

#player-info1,
#player-info2,
#player-info3 {
  height: 13%;
  width: 100%;
  display: flex;
  border-radius: 7px;
  border: navy solid;
  margin: 2px;
}

#cards-count {
  width: 38%;
  height: 100%;
  display: flex;
}

#resCard-count,
#devCard-count {
  width: 50%;
  height: 100%;
}

#player-status {
  width: 62%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.component {
  height: 40px;
  width: 80px;
  margin: 2px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0.5px rgba(0, 0, 0, 0.2);
  display: flex;
}

.count {
  font-size: 20px;
  margin: 10px 15px;
}

#bank {
  width: 100%;
  height: 17%;
  border: navy solid;
  display: flex;
  border-radius: 7px;
  margin: 2px;
  justify-content: flex-start;
}

#current-player {
  height: 21%;
  width: 100%;
  border: navy solid;
  margin-top: 2px;
  border-radius: 7px;
  display: flex;
}

#gameArea {
  width: 70%;
  
}

#interactions {
  width: 99.4%;
  height: 16%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#playerCards {
  height: 100%;
  width: 45%;
  display: flex;
  margin-top: 1%;
  justify-content: space-evenly;
}

#actions {
  height: 50%;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5%;
}

.unit {
  height: 100%;
  width: 12%;
  border: teal solid;
}

#board {
  width: 100%;
  height: 82%;
}

#turn-box,
#turn-details {
  height: 100%;
  width: 50%;
}

#roll-dice,
#current-turn {
  height: 5%;
  width: 85%;
  margin-left: 9%;
  background-color: transparent;
}

#current-turn {
  margin: 415% 2% 9% 10%;
}

#dice-box {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 370% 2% 10%;
}

#dice1,
#dice2 {
  width: 35%;
  height: 90%;
  border: navy solid;
}

#boardBorder {
  width: 724px;
  height: 615px;
  fill: transparent;
  position: absolute;
  z-index: -1;
}

#display {
  width: 724px;
  height: 80%;
  display: block;
  position: absolute;
}

#rows {
  height: 600px;
  width: 720px;
  margin-top: 60px;
}

.row {
  display: block;
  text-align: center;
}

.terrain {
  width: 101px;
  height: 124px;
  margin: 0px -3px -38px 0px;
  /* stroke: burlywood; */
  stroke-width: 2px;
}

.numberToken {
  fill: rgb(71, 69, 69);
  stroke: white;
  stroke-width: 0.3px;
  font-size: large;
  text-anchor: middle;
}

.terrain-image {
  height: 120px;
  width: 100px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 1;
}

.allRoads,
.allIntersections {
  position: absolute;
  width: 720px;
  height: 544px;
  margin-top: 60px;
}

.pointBlock {
  display: flex;
  justify-content: space-between;
  margin: -0.4% auto 1.5%;
  height: 20px;
}

.point {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.4;
  box-sizing: border-box;
}

.tiltedRoads {
  display: flex;
  justify-content: space-around;
  margin: 4.5px auto 28px;
  width: 20px;
  height: 20px;
}

.straightRoads {
  display: flex;
  justify-content: space-around;
  margin: 5.2% auto;
  width: 20px;
  height: 20px;
}

.road {
  background-color: black;
}

/*--------------hove to refactor this part--------------*/
g.tiltedRoads > .right-top-tilted-road {
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  transform: rotate(55deg);
  width: 40px;
  height: 40px;
}

g.tiltedRoads > .left-top-tilted-road {
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  transform: rotate(125deg);
  width: 40px;
  height: 40px;
}

g.tiltedRoads > .right-down-tilted-road {
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  transform: rotate(149deg);
  width: 40px;
  height: 40px;
}

g.tiltedRoads > .left-down-tilted-road {
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  transform: rotate(33deg);
  width: 40px;
  height: 40px;
}

g.straightRoads > .road {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 12px;
  height: 45px;
}

svg {
  fill: #074a6669;
}

/*------tradingOpen-------*/

#tradeChoosingBox {
  font-size: large;
  height: 230px;
  width: 270px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  margin: 150px 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 7px;
}

.innerTradeBox {
  height: 30px;
  width: 270px;
  margin: 20px;
  text-align: center;
  padding-top: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: white;
  border-radius: 7px;
}

/*----------AllTradeOpen-----------*/

#tradingBox {
  height: 300px;
  width: 540px;
  margin: 0 auto;
  font-size: large;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.tradeBoxes {
  display: flex;
}

.tradeBox {
  height: 200px;
  width: 270px;
  text-align: center;
  margin: 0px 10px 0px;
  border-radius: 7px;
  padding-top: 3px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.product {
  width: 30%;
  margin: 30px;
}

.form-group {
  width: 30%;
  margin: 30px;
  color: #95d7fc;
}

.resourceName {
  width: 100px;
  text-align: left;
}

.resourceBlock {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0px 0px;
}

.tradeTitle {
  text-align: center;
  padding-top: 5px;
  font-size: 25px;
  font-weight: 300;
}

#arrow {
  transform: rotate(135deg);
  cursor: pointer;
}

#arrow:hover {
  transform: scale(1.3);
}

select {
  width: 50px;
  height: 20px;
  padding: 5px;
  color: black;
  border: none;
  outline: none;
}

/*--------------------TradeRequest---------------*/

#tradeReqBox {
  height: 250px;
  width: 440px;
  margin: 150px 0px 0px 500px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  text-align: center;
  padding-top: 10px;
  font-size: x-large;
  font-weight: 300;
}

#tradeDetailsBox {
  display: flex;
  margin-top: 15px;
}

.tradeDetails {
  height: 150px;
  width: 220px;
  font-size: large;
}

#decisionBox {
  display: flex;
  justify-content: space-evenly;
}

.resourceAndCount {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 10px;
}

/*-----------------------whomToRob---------------*/
#whomToRobBox {
  height: 250px;
  width: 440px;
  margin: 150px 0px 0px 500px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  text-align: center;
  padding-top: 10px;
  font-size: x-large;
  font-weight: 300;
}

#targets {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.person {
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 15px;
}

.person:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/*------------------DevCardOption--------------*/

#devCardOptionBox {
  height: 150px;
  width: 300px;
  margin: 150px 0px 0px 500px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  text-align: center;
  padding-top: 10px;
  font-size: x-large;
  font-weight: 300;
}

#options {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.action {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-size: 20px;
  width: 60px;
  background-color: white;
  cursor: pointer;
  padding: 8px;
}

/*--------------------SelectCardToPlay------------------*/

#selectCardBox {
  height: 150px;
  width: 320px;
  margin: 150px 0px 0px 500px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  text-align: center;
  padding-top: 10px;
  font-size: x-large;
  font-weight: 300;
}

#cards {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

.card {
  height: 70px;
  width: 60px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}

/*----------------------------------------------DiscardCards-------------------------*/

#discardCardsBox {
  height: 300px;
  width: 250px;
  margin: 150px 0px 0px 500px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  text-align: center;
  padding-top: 10px;
  font-size: x-large;
  font-weight: 300;
}

#cardBox {
  height: 165px;
  width: 230px;
  text-align: center;
  margin: 30px 10px 25px;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.2);
}

/*----------hide------------*/

.hide {
  pointer-events: none;
  background-color: transparent;
}

/*------------after-----------*/

.afterSettlement {
  height: 30px;
  width: 30px;
  text-align: center;
  margin: -2% 0% 0% 0%;
}

.afterRoad {
  margin: -2% 3% 0% 2%;
}
